.container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.contentContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 100vw;
    background: linear-gradient(180deg, rgba(29, 74, 79, 0.81) 17.71%, #1D4A4F 60.94%, #1D4A4F 90.3%);
    padding: 1rem 0;
}

.content {
    text-align: justify;
    color: #B28353;
    font-size: 3rem;
    line-height: 4rem;
}

@media (max-width: 650px) {

    .contentContainer {
    }

    .content {
        text-align: center;
        font-size: 1.4rem;
        line-height: 2rem;
    }
}